@using System.Data
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <div> 
        <form id="frmNewBook" method="post" action="@Url.Action("InsertRecord")">
            Book Title:<input name="txtTitle" />
            <br /><br /> 
            Author Name: <select name="txtAuName">
                <option selected>Select Author Name</option>
                @foreach (DataRow dr in Model.Rows)
                {
                  <option value="@dr["AuthorName"].ToString()">@dr["AuthorName"].ToString()</option>        
                }
            </select>
            <br/>
            <br/>
            Price:<input name="txtPrice" />
            <br/><br/>
            <input type="submit" value="Submit" name="action" />
            <input type="submit" value="Cancel" name="action" />

        </form>
        <form method="post" name="Author">
            <h1>Author Details</h1>
            @if(Model.Rows.Count>0)
            {
                <table border="1">
                    <thead>
                        <tr>
                            <th>Author Id</th>
                            <th>Author Name</th>
                        </tr>
                    </thead>
                    @foreach(DataRow dr in Model.Rows)
                {
                        <tr>
                    <td>@dr["AuthorId"].ToString()</td> 
                    <td>@dr["AuthorName"].ToString()</td>

                            </tr>
                }
                </table>
            }
        </form>
    </div>
</body>
</html>
