@using System.Data
@model System.Data.DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        <form method="post" name="Display">
            <h2>Home</h2>
            @Html.ActionLink("Add New Book","Insert")
            <br/>
            <br/>
            @{ 
                if(Model.Rows.Count>0)
            {
                <table border="3">
                    <thead>
                        <tr>
                                     <td> Book Id </td>
                                     <td> Title of Book </td>
                                     <td> Author Id </td>
                                     <td> Price </td>
                        </tr>
                    </thead>
                    @foreach(DataRow dr in Model.Rows)
                {
                <tr>
                    <td>@dr["BookId"].ToString()</td>
                    <td>@dr["Title"].ToString()</td>
                    <td>@dr["AuthorId"].ToString()</td>
                    <td>@dr["Price"].ToString()</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { BookId = dr["bookid"].ToString() })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { BookId = dr["bookid"].ToString() }) </td>

                </tr>
                }
                </table>
            }
            }
        </form>
    </div>
</body>
</html>
